@charset "UTF-8";
/* ブレークポイント */
/* A Modern CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
/* ul[class],
ol[class] {
  padding: 0;
} */
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

html {
  font-family: Roboto;
  font-weight: 700;
  color: #121212;
  font-size: 10px;
  height: 100%;
}

body {
  font-family: Roboto;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.single-h1 {
  font-size: 3.6rem;
  line-height: 3.6;
  position: absolute;
  top: 40px;
  z-index: 10;
}

@media (min-width: 641px) {
  .single-h1 {
    font-size: 6rem;
    line-height: 6;
    top: 100px;
  }
}

.single-h2 {
  font-size: 2.8rem;
  line-height: 2.8;
}

@media (min-width: 641px) {
  .single-h2 {
    font-size: 3.6rem;
    line-height: 3.6;
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 2.4;
}

@media (min-width: 641px) {
  h3 {
    font-size: 2.8rem;
    line-height: 2.8;
  }
}

h4, h5, h6 {
  font-size: 2rem;
  line-height: 2;
}

.single-p {
  font-size: 1.6rem;
  line-height: 1.3;
}

ol > li {
  list-style-type: decimal;
}

ol {
  margin: 0;
}

.close {
  display: none;
}

.header-container {
  width: 100%;
  height: 200px;
  background-color: #FFF7EF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #808080;
}

@media (min-width: 769px) {
  .header-container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.header-container .header-title {
  font-size: 4.8rem;
  height: auto;
}

@media (min-width: 641px) {
  .header-container .header-title {
    margin-left: 30px;
  }
}

.header-container .menu-btn {
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 2.6rem;
  cursor: pointer;
  border: none;
  background-color: #FFF7EF;
  color: #808080;
}

@media (min-width: 769px) {
  .header-container .menu-btn {
    display: none;
  }
}

.header-container .searchbox {
  width: 82%;
  height: 38px;
  display: inline-block;
  margin: 0 auto 20px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  position: relative;
}

@media (min-width: 641px) {
  .header-container .searchbox {
    width: 70%;
  }
}

@media (min-width: 769px) {
  .header-container .searchbox {
    width: 45%;
    margin: 0;
    margin-right: 10px;
  }
}

.header-container .searchbox .search_input {
  width: 70%;
  height: 100%;
  padding-left: 30px;
  border-radius: 10px;
  border: #707070 1px solid;
}

.header-container .searchbox .search-btn {
  color: #808080;
  width: 25%;
  height: 100%;
  padding: 5px 8px;
  border-radius: 10px;
  font-size: 1.4rem;
  border: #707070 1px solid;
  cursor: pointer;
  margin-left: 5px;
}

.header-container .searchbox .fa-search {
  position: absolute;
  font-size: 1.8rem;
  top: 13px;
  left: 8px;
}

.l-Main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

@media (min-width: 769px) {
  .l-Main-container {
    width: 80vw;
  }
}

.l-sidebar {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100%;
  color: #707070;
  font-weight: normal;
  z-index: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.l-sidebar .widgettitle {
  display: none;
}

@media (min-width: 769px) {
  .l-sidebar {
    right: 0%;
    width: 20vw;
  }
  .l-sidebar .widgettitle {
    display: block;
    margin-top: -100px;
    margin-bottom: 50px;
  }
}

.l-sidebar.menu-open {
  display: block;
  right: 0%;
  -webkit-transition: all .2s;
  transition: all .2s;
  height: 100%;
}

.l-sidebar .slidebar-container {
  position: relative;
  top: 0;
  left: 10%;
  width: 90vw;
  height: 60%;
  padding-top: 200px;
  padding-left: 2%;
  background-color: #F2EDE9;
  z-index: 20;
}

@media (min-width: 641px) {
  .l-sidebar .slidebar-container {
    width: 45vw;
    left: 55%;
    height: 100%;
  }
}

@media (min-width: 769px) {
  .l-sidebar .slidebar-container {
    width: 20vw;
    left: 0%;
    padding-top: 0;
  }
}

.l-sidebar .slidebar-container .menu-btn_close {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media (min-width: 769px) {
  .l-sidebar .slidebar-container .menu-btn_close {
    display: none;
  }
}

.l-sidebar .slidebar-container .menu-btn_close span {
  display: inline-block;
  vertical-align: middle;
  color: #808080;
  line-height: 1;
  width: 30px;
  height: 3px;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.l-sidebar .slidebar-container .menu-btn_close span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.l-sidebar .menu-title {
  display: none;
  width: 100%;
  height: 200px;
  line-height: 200px;
  font-size: 3rem;
}

@media (min-width: 769px) {
  .l-sidebar .menu-title {
    display: block;
  }
}

.l-sidebar .category-box h3 {
  font-size: 2.4rem;
}

@media (min-width: 769px) {
  .l-sidebar .category-box h3 {
    font-size: 2rem;
  }
}

.l-sidebar .category-box ul {
  padding: 20px 0;
  padding-left: 10px;
}

.l-sidebar .category-box li {
  font-size: 2rem;
  line-height: 20px;
  padding: 8px;
}

@media (min-width: 769px) {
  .l-sidebar .category-box li {
    font-size: 1.6rem;
  }
}

.footer_nav {
  display: block;
  width: 100%;
  height: 150px;
  background-color: #9D8670;
  color: #fff;
  font-weight: normal;
  text-align: center;
  padding: 40px 0;
}

.footer_nav.filter_open {
  display: none;
}

.footer_nav li {
  display: inline-block;
  font-size: 2rem;
}

.footer_nav li:first-of-type {
  margin-right: 5px;
}

.footer_nav li:first-of-type::after {
  content: "|";
  font-size: 2rem;
  margin-left: 8px;
}

.footer_nav p {
  margin-top: 30px;
  font-size: 1.4rem;
  font-weight: normal;
}

.c-mainContent-card {
  height: 600px;
  background-size: cover;
  color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

@media (min-width: 769px) {
  .c-mainContent-card {
    height: 1000px;
  }
}

.c-mainContent-card h2 {
  font-size: 4.8rem;
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.c-mainContent-card .content {
  display: block;
  min-width: 100%;
  -ms-grid-column-align: end;
      justify-self: end;
  background-color: #ffffff;
  color: #3C2A10;
  padding: 10px;
  opacity: 0.8;
  font-weight: normal;
}

@media (min-width: 641px) {
  .c-mainContent-card .content {
    padding: 5px;
  }
}

.c-mainContent-card .content h3 {
  font-size: 2.2rem;
  font-weight: normal;
  margin: 15px 0;
}

.c-mainContent-card .content p {
  font-size: 1.4rem;
  padding-bottom: 20px;
  line-height: 1.4;
  letter-spacing: -0.1rem;
}

.c-mainContent-card .content:first-of-type {
  margin-bottom: 10px;
}

.c-MainVisual {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  height: 300px;
  width: 100%;
  background-position: center;
  background-size: 100%;
  position: relative;
  z-index: -1;
}

@media (min-width: 641px) {
  .c-MainVisual {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: -1;
  }
}

@media (min-width: 769px) {
  .c-MainVisual {
    background-size: cover;
    height: 250px;
  }
}

.c-MainVisual .mainvisual-title {
  font-size: 3.6rem;
  color: #fff;
  font-weight: normal;
  padding-left: 6%;
}

@media (min-width: 641px) {
  .c-MainVisual .mainvisual-title {
    font-size: 4.8rem;
  }
}

.c-MainVisual p {
  font-size: 1.4rem;
  color: #fff;
  padding-left: 6%;
}

@media (min-width: 641px) {
  .c-MainVisual p {
    font-size: 1.8rem;
    margin-left: 15px;
    margin-top: 10px;
    padding-left: 0;
  }
}

.c-item-box {
  width: 90vw;
  margin: 0 auto;
  background-color: #3C2A10;
  color: #fff;
  font-weight: normal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  /* min-height: 230px; */
  height: 580px;
}

@media (min-width: 641px) {
  .c-item-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: 300px;
  }
}

@media (min-width: 769px) {
  .c-item-box {
    width: 70vw;
    height: 350px;
  }
}

.c-item-box .item-img {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-item-box .item-img img {
  width: 100%;
  height: 290px;
}

@media (min-width: 641px) {
  .c-item-box .item-img {
    width: 60%;
  }
  .c-item-box .item-img img {
    height: 100%;
  }
}

@media (min-width: 769px) {
  .c-item-box .item-img {
    width: 50%;
  }
}

.c-item-box .item {
  padding: 20px 15px;
  font-weight: normal;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 100%;
}

@media (min-width: 641px) {
  .c-item-box .item {
    width: 50%;
    padding: 10px 10px;
  }
}

@media (min-width: 769px) {
  .c-item-box .item {
    padding: 10px 25px;
  }
}

.c-item-box .item .item-title {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 15px;
}

@media (min-width: 769px) {
  .c-item-box .item .item-title {
    margin-bottom: 10px;
  }
}

.c-item-box .item .item-topic {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .c-item-box .item .item-topic {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
}

.c-item-box .item p {
  width: 80%;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 641px) {
  .c-item-box .item p {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (min-width: 769px) {
  .c-item-box .item p {
    font-size: 1.4rem;
  }
}

.c-item-box .item .item-btn {
  display: block;
  background-color: #ffffff;
  width: 120px;
  border-radius: 15px;
  margin: 0 auto;
  color: #707070;
  text-align: center;
  padding: 10px 5px;
  justify-self: flex-end;
}

@media (min-width: 641px) {
  .c-item-box .item .item-btn {
    margin-bottom: 15px;
  }
}

@media (min-width: 769px) {
  .c-item-box .item .item-btn {
    width: 180px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}

.c-item-box:not(:first-of-type) {
  margin-bottom: 20px;
}

.c-quotebox {
  height: auto;
  padding: 30px 20px;
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.c-quotebox .blockquote {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 20px;
}

.c-quotebox .quote_link {
  height: auto;
}

.c-quotebox .quote_link a {
  text-decoration: underline;
}

.p-body-filter {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.p-body-filter.filter_open {
  z-index: 1;
  background-color: #707070;
  /* height: 3000px; */
}

@media (min-width: 769px) {
  .p-body-filter {
    z-index: -1;
  }
}

.p-MainVisual-contents .MainImg.index {
  background-image: url(../img/mainvisual.jpg);
  background-size: auto;
}

.p-MainVisual-contents .MainImg.archive {
  background-image: url(../img/archive_mainvisual.jpg);
  background-position: top 50% left 40%;
  background-size: 200%;
  /* 画像を暗く表示 */
}

@media (min-width: 769px) {
  .p-MainVisual-contents .MainImg.archive {
    background-size: 150%;
  }
}

.p-MainVisual-contents .MainImg.archive::before {
  background-color: rgba(0, 0, 0, 0.3);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.p-MainVisual-contents .MainImg.single {
  height: 220px;
  display: block;
  position: relative;
}

.p-MainVisual-contents .MainImg.single img {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (min-width: 641px) {
  .p-MainVisual-contents .MainImg.single {
    height: 500px;
  }
}

.p-MainVisual-contents .MainImg.page {
  background-image: url(../img/page_main.jpg);
  height: 220px;
}

@media (min-width: 641px) {
  .p-MainVisual-contents .MainImg.page {
    height: 500px;
  }
}

.p-MainVisual-contents .visual-content {
  width: 90vw;
  margin: 0 auto;
  color: #3C2A10;
  padding: 40px 0 20px;
  font-weight: normal;
}

@media (min-width: 769px) {
  .p-MainVisual-contents .visual-content {
    width: 70vw;
  }
}

.p-MainVisual-contents .visual-content h2 {
  font-size: 2.8rem;
  font-weight: normal;
  margin-bottom: 20px;
}

.p-MainVisual-contents .visual-content p {
  font-size: 1.6rem;
  height: 100%;
  margin-bottom: 30px;
}

@media (min-width: 769px) {
  .p-MainVisual-contents .visual-content p {
    margin-bottom: 20px;
  }
}

.p-MainVisual-contents .pager {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  text-align: center;
}

.p-Maincontents {
  /* height: 1320px; */
  width: 90vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 50px 0;
}

@media (min-width: 641px) {
  .p-Maincontents {
    height: 660px;
    width: 95vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media (min-width: 769px) {
  .p-Maincontents {
    width: 75vw;
    height: 1100px;
    padding-bottom: 30px;
  }
}

.p-Maincontents section {
  max-width: 100%;
}

@media (min-width: 641px) {
  .p-Maincontents section {
    max-width: 45%;
  }
}

.p-Maincontents .takeOut {
  max-width: 100%;
  background-image: url(../img/takeOut.jpg);
  margin-bottom: 10px;
  cursor: pointer;
}

@media (min-width: 641px) {
  .p-Maincontents .takeOut {
    max-width: 100%;
  }
  .p-Maincontents .takeOut h2::after {
    display: block;
    content: "";
    width: 40px;
    border: 2px solid;
    margin-top: 10px;
  }
}

.p-Maincontents .eatIn {
  max-width: 100%;
  background-image: url(../img/eatin.jpg);
  cursor: pointer;
}

@media (min-width: 641px) {
  .p-Maincontents .eatIn {
    max-width: 100%;
  }
}

.p-Maincontents .eatIn h2::after {
  display: block;
  content: "";
  width: 40px;
  border: 2px solid;
  margin-top: 10px;
}

.p-accessMap {
  display: block;
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 641px) {
  .p-accessMap {
    height: 400px;
  }
}

.p-accessMap .gmap {
  width: 100%;
  height: 100%;
}

.p-accessMap .map-filter {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  height: 70%;
  opacity: .5;
  color: #fff;
  padding: 25px 40px;
  font-weight: normal;
}

@media (min-width: 641px) {
  .p-accessMap .map-filter {
    padding: 15px 20px;
    height: 100%;
  }
}

@media (min-width: 769px) {
  .p-accessMap .map-filter {
    width: 55vw;
  }
}

.p-accessMap .map-filter h3 {
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 10px;
}

.p-accessMap .map-filter h3::after {
  display: block;
  content: "";
  width: 50px;
  border: 1px solid;
}

.p-accessMap .map-filter p {
  font-size: 1.4rem;
  line-height: 2;
}

.p-single-main {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .p-single-main {
    width: 70vw;
  }
}

.p-single-main .single-MainVisual img {
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 641px) {
  .p-single-main .single-MainVisual img {
    height: 260px;
    margin-bottom: 50px;
  }
}

@media (min-width: 769px) {
  .p-single-main .single-MainVisual img {
    height: 500px;
    margin-bottom: 50px;
  }
}

.p-single-main .single_contents .single_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  height: 180px;
  overflow: hidden;
}

@media (min-width: 641px) {
  .p-single-main .single_contents .single_item {
    height: 380px;
    margin-bottom: 150px;
  }
}

@media (min-width: 769px) {
  .p-single-main .single_contents .single_item {
    height: 360px;
    margin-bottom: 20px;
  }
}

.p-single-main .single_contents .single_item .content-img {
  width: 40%;
  height: 100px;
  display: block;
}

@media (min-width: 641px) {
  .p-single-main .single_contents .single_item .content-img {
    height: 180px;
  }
}

.p-single-main .single_contents .single_item .content-img img {
  width: 100%;
  height: 100%;
}

.p-single-main .single_contents .single_item p {
  width: 56%;
  font-size: 1.6rem;
  font-weight: normal;
}

.p-single-main .single_contents li:nth-child(2n) .content-img {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.p-single-main .menu-img {
  height: 160px;
  width: 70%;
  margin: 0 auto 30px;
}

@media (min-width: 641px) {
  .p-single-main .menu-img {
    height: 360px;
    width: 80%;
    margin-bottom: 150px;
  }
}

@media (min-width: 769px) {
  .p-single-main .menu-img {
    margin-bottom: 50px;
  }
}

.p-single-main .menu-img img {
  width: 100%;
  height: 100%;
}

.p-single-main .menu-imgList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 641px) {
  .p-single-main .menu-imgList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.p-single-main .menu-imgList li {
  height: 200px;
  margin-bottom: 20px;
  width: 100%;
}

@media (min-width: 641px) {
  .p-single-main .menu-imgList li {
    width: 48%;
  }
}

@media (min-width: 769px) {
  .p-single-main .menu-imgList li {
    width: 32%;
  }
}

.p-single-main .menu-imgList li img {
  height: 100%;
  width: 100%;
}

.p-single-main .single-list {
  font-size: 1.6rem;
  font-weight: normal;
}

.p-single-main .single-list .ol-list {
  padding: 10px 15px;
}

.p-single-main .single-list ol:last-of-type, .p-single-main .single-list ul:last-of-type {
  padding-bottom: 50px;
}

.p-single-main .single-list .ul-list {
  padding: 10px 0;
}

.p-single-main .html-tag {
  font-size: 1.6rem;
  padding: 20px;
  text-align: left;
  background-color: #F5F5F5;
}

.p-single-main .table-area table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.6rem;
  font-weight: normal;
}

.p-single-main .table-area th, .p-single-main .table-area td {
  border: 1px solid #707070;
  padding: 20px;
}

.p-single-main .table-area td:nth-child(odd) {
  width: 40%;
}

@media (min-width: 641px) {
  .p-single-main .table-area td:nth-child(odd) {
    width: 30%;
  }
}

.p-single-main .single-btn {
  width: 100%;
  margin: 30px 0;
  padding: 20px;
  border-radius: 30px;
  font-size: 1.6rem;
  font-weight: normal;
  background-color: #F2EDE9;
  border: 1px solid #707070;
}

@media (min-width: 641px) {
  .p-single-main .single-btn {
    width: 60%;
  }
}

@media (min-width: 769px) {
  .p-single-main .single-btn {
    width: 30%;
  }
}

.p-single-main .bold-area {
  padding-bottom: 30px;
}

.p-single-main .bold-area .single-bold {
  font-size: 1.6rem;
  color: #3C2A10;
}

.p-single-edit {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 0 50px 0;
}

@media (min-width: 641px) {
  .p-single-edit {
    height: 660px;
    width: 95vw;
  }
}

@media (min-width: 769px) {
  .p-single-edit {
    width: 75vw;
    height: 1100px;
  }
}

.p-single-edit > h1 {
  font-size: 3.6rem;
}

@media (min-width: 641px) {
  .p-single-edit > h1 {
    font-size: 6rem;
  }
}

.p-single-edit > h2 {
  font-size: 2.8rem;
  line-height: 2.8;
}

@media (min-width: 641px) {
  .p-single-edit > h2 {
    font-size: 3.6rem;
    line-height: 3.6;
  }
}

.p-single-edit > h3 {
  font-size: 2.4rem;
  line-height: 2.4;
}

@media (min-width: 641px) {
  .p-single-edit > h3 {
    font-size: 2.8rem;
    line-height: 2.8;
  }
}

.p-single-edit > h4, .p-single-edit h5, .p-single-edit h6 {
  font-size: 2rem;
  line-height: 2;
}

.p-single-edit > p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.p-single-edit blockquote {
  height: auto;
  padding: 30px 20px;
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.p-single-edit blockquote cite {
  text-decoration: underline;
}

.p-single-edit figure {
  margin: 20px 0;
}

.p-single-edit .size-full {
  width: 100%;
}

.p-single-edit .size-full img {
  width: 100%;
  height: auto;
}

@media (min-width: 641px) {
  .p-single-edit .wp-block-media-text {
    margin-bottom: 25px;
  }
}

@media (min-width: 769px) {
  .p-single-edit .wp-block-media-text {
    margin-bottom: 30px;
  }
}

.p-single-edit .wp-block-media-text figure {
  width: 100%;
  height: auto;
  display: block;
  -ms-grid-column-align: self-start;
      justify-self: self-start;
}

.p-single-edit .wp-block-media-text figure img {
  width: 100%;
  height: auto;
}

.p-single-edit .wp-block-media-text .wp-block-media-text__content {
  width: 100%;
  font-size: 1.4rem;
  font-weight: normal;
}

@media (min-width: 641px) {
  .p-single-edit .wp-block-media-text .wp-block-media-text__content {
    font-size: 1.6rem;
  }
}

@media (min-width: 769px) {
  .p-single-edit .wp-block-media-text .wp-block-media-text__content {
    font-size: 1.8rem;
  }
}

.p-single-edit .blocks-gallery-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
}

@media (min-width: 641px) {
  .p-single-edit .blocks-gallery-grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.p-single-edit .blocks-gallery-grid .blocks-gallery-item {
  width: 100%;
}

@media (min-width: 641px) {
  .p-single-edit .blocks-gallery-grid .blocks-gallery-item {
    max-width: 48%;
  }
}

@media (min-width: 769px) {
  .p-single-edit .blocks-gallery-grid .blocks-gallery-item {
    max-width: 32%;
  }
}

.p-single-edit .blocks-gallery-grid li > figure {
  height: 200px;
  margin-bottom: 20px;
}

.p-single-edit ul, .p-single-edit ol {
  font-size: 1.6rem;
  font-weight: normal;
  padding: 10px 15px;
}

.p-single-edit .wp-block-code {
  font-size: 1.6rem;
  padding: 20px;
  text-align: left;
  background-color: #F5F5F5;
}

.p-single-edit .wp-block-table table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.6rem;
  font-weight: normal;
}

.p-single-edit .wp-block-table th, .p-single-edit .wp-block-table td {
  border: 1px solid #707070;
  padding: 20px;
}

.p-single-edit .wp-block-table td:nth-child(odd) {
  width: 40%;
}

@media (min-width: 641px) {
  .p-single-edit .wp-block-table td:nth-child(odd) {
    width: 30%;
  }
}

.p-single-edit .wp-block-button {
  width: 100%;
  margin: 30px 0;
  font-size: 1.6rem;
  font-weight: normal;
}

@media (min-width: 641px) {
  .p-single-edit .wp-block-button {
    width: 60%;
  }
}

@media (min-width: 769px) {
  .p-single-edit .wp-block-button {
    width: 30%;
  }
}

.p-single-edit .wp-block-button .wp-block-button__link {
  width: 100%;
  padding: 20px;
  border-radius: 30px;
  background-color: #F2EDE9;
  border: 1px solid #707070;
}

.u-mb-0 {
  margin-bottom: 0;
}

.u-pl-50 {
  padding-left: 50px !important;
}

.u-mb-30 {
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */