@charset "UTF-8";
/* ブレークポイント */
/* A Modern CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

html {
  font-family: Roboto;
  font-weight: 700;
  color: #121212;
  font-size: 10px;
  height: 100%;
}

body {
  font-family: Roboto;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.close {
  display: none;
}

.header-container {
  width: 100%;
  height: 200px;
  background-color: #FFF7EF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #808080;
}

@media (min-width: 769px) {
  .header-container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.header-container .header-title {
  font-size: 4.8rem;
}

@media (min-width: 641px) {
  .header-container .header-title {
    margin-left: 30px;
  }
}

.header-container .menu-btn {
  display: block;
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 2.6rem;
}

@media (min-width: 769px) {
  .header-container .menu-btn {
    display: none;
  }
}

.header-container .searchbox {
  width: 82%;
  height: 38px;
  display: inline-block;
  margin: 0 auto;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  position: relative;
}

@media (min-width: 769px) {
  .header-container .searchbox {
    width: 45%;
    margin: 0;
    margin-right: 10px;
  }
}

.header-container .searchbox .search_input {
  width: 70%;
  height: 100%;
  padding-left: 30px;
  border-radius: 10px;
  border: #707070 1px solid;
}

.header-container .searchbox .search-btn {
  color: #808080;
  width: 25%;
  height: 100%;
  padding: 5px 8px;
  border-radius: 10px;
  font-size: 1.4rem;
  border: #707070 1px solid;
  cursor: pointer;
  margin-left: 5px;
}

.header-container .searchbox .fa-search {
  position: absolute;
  font-size: 1.8rem;
  top: 13px;
  left: 8px;
}

.l-Main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 769px) {
  .l-Main-container {
    width: 80vw;
  }
}

.l-sidebar {
  /* display: none;  */
  position: absolute;
  top: 0;
  right: -100%;
  width: 100vw;
  /*     height: 2000px; */
  color: #707070;
  font-weight: normal;
  z-index: 1;
}

@media (min-width: 769px) {
  .l-sidebar {
    right: 0%;
  }
}

.l-sidebar.menu-open {
  display: block;
  right: 0%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.l-sidebar .slidebar-container {
  position: relative;
  top: 0;
  left: 10%;
  width: 90vw;
  height: 100%;
  padding-top: 200px;
  padding-left: 2%;
  background-color: #F2EDE9;
  z-index: 20;
}

@media (min-width: 641px) {
  .l-sidebar .slidebar-container {
    width: 45vw;
    left: 55%;
  }
}

@media (min-width: 769px) {
  .l-sidebar .slidebar-container {
    width: 20vw;
    left: 80%;
    padding-top: 0;
  }
}

.l-sidebar .slidebar-container .menu-btn_close {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media (min-width: 769px) {
  .l-sidebar .slidebar-container .menu-btn_close {
    display: none;
  }
}

.l-sidebar .slidebar-container .menu-btn_close span {
  display: inline-block;
  vertical-align: middle;
  color: #808080;
  line-height: 1;
  width: 30px;
  height: 3px;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.l-sidebar .slidebar-container .menu-btn_close span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.l-sidebar .menu-title {
  display: none;
  width: 100%;
  height: 200px;
  line-height: 200px;
  font-size: 3rem;
}

@media (min-width: 769px) {
  .l-sidebar .menu-title {
    display: block;
  }
}

.l-sidebar .category-box h3 {
  font-size: 2em;
}

.l-sidebar .category-box ul {
  padding: 20px 0;
  padding-left: 10px;
}

.l-sidebar .category-box li {
  font-size: 1.6rem;
  line-height: 20px;
  padding: 8px;
}

.footer_nav {
  display: block;
  width: 100%;
  height: 150px;
  background-color: #9D8670;
  color: #fff;
  font-weight: normal;
  text-align: center;
  padding: 40px 0;
}

.footer_nav.filter_open {
  display: none;
}

.footer_nav li {
  display: inline-block;
  font-size: 1.6rem;
}

.footer_nav li:first-of-type {
  margin-right: 5px;
}

.footer_nav li:first-of-type::after {
  content: "|";
  font-size: 2rem;
  margin-left: 8px;
}

.footer_nav p {
  margin-top: 30px;
  font-size: 1.4rem;
  font-weight: normal;
}

.c-mainContent-card {
  height: 600px;
  background-size: cover;
  color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

@media (min-width: 769px) {
  .c-mainContent-card {
    height: 1000px;
  }
}

.c-mainContent-card h2 {
  font-size: 4.8rem;
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.c-mainContent-card .content {
  display: block;
  -ms-grid-column-align: end;
      justify-self: end;
  background-color: #ffffff;
  color: #3C2A10;
  padding: 10px;
  opacity: 0.8;
  font-weight: normal;
}

.c-mainContent-card .content h3 {
  font-size: 2.2rem;
  font-weight: normal;
  margin: 15px 0;
}

.c-mainContent-card .content p {
  font-size: 1.4rem;
  padding-bottom: 20px;
  line-height: 1.4;
  letter-spacing: -0.1rem;
}

.c-mainContent-card .content:first-of-type {
  margin-bottom: 10px;
}

.c-MainVisual {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  height: 300px;
  width: 100%;
  background-position: center;
  background-size: 100%;
  padding-left: 50px;
  position: relative;
  z-index: -1;
}

@media (min-width: 641px) {
  .c-MainVisual {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: -1;
  }
}

@media (min-width: 769px) {
  .c-MainVisual {
    background-size: cover;
    height: 250px;
  }
}

.c-MainVisual .mainvisual-title {
  font-size: 3.6rem;
  color: #fff;
  font-weight: normal;
}

@media (min-width: 641px) {
  .c-MainVisual .mainvisual-title {
    font-size: 4.8rem;
  }
}

.c-MainVisual p {
  font-size: 1.4rem;
  color: #fff;
}

@media (min-width: 641px) {
  .c-MainVisual p {
    font-size: 1.8rem;
    margin-left: 15px;
    margin-top: 10px;
  }
}

.c-item-box {
  width: 90vw;
  margin: 0 auto;
  background-color: #3C2A10;
  color: #fff;
  font-weight: normal;
}

.c-item-box .item-img {
  width: 100%;
  height: 230px;
  background-image: url(../img/cheeseburger.jpg);
  background-position: top 20% left 10%;
  background-size: 100%;
}

.c-item-box .item {
  padding: 20px 15px;
  font-weight: normal;
}

.c-item-box .item .item-title {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 15px;
}

.c-item-box .item .item-topic {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 10px;
}

.c-item-box .item p {
  width: 80%;
  margin-bottom: 20px;
}

.c-item-box .item .item-btn {
  display: block;
  background-color: #ffffff;
  width: 120px;
  border-radius: 10px;
  margin: 0 auto;
  color: #707070;
  text-align: center;
  padding: 5px;
}

.c-item-box:not(:first-of-type) {
  margin-bottom: 50px;
}

.c-item-box:last-of-type {
  margin-bottom: 0px;
}

.p-body-filter {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 2520px; */
}

@media (min-width: 641px) {
  .p-body-filter {
    /* height: 1550px; */
  }
}

@media (min-width: 769px) {
  .p-body-filter {
    /*  height: 2200px; */
  }
}

.p-body-filter.filter_open {
  z-index: 1;
  background-color: #707070;
  height: 3000px;
}

@media (min-width: 769px) {
  .p-body-filter {
    z-index: -1;
  }
}

.p-MainVisual-contents .MainImg.index {
  background-image: url(../img/mainvisual.jpg);
}

.p-MainVisual-contents .MainImg.archive {
  background-image: url(../img/archive_mainvisual.jpg);
  background-position: top 50% left 40%;
  background-size: 200%;
  /* 画像を暗く表示 */
}

@media (min-width: 769px) {
  .p-MainVisual-contents .MainImg.archive {
    background-size: 150%;
  }
}

.p-MainVisual-contents .MainImg.archive::before {
  background-color: rgba(0, 0, 0, 0.3);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.p-MainVisual-contents .visual-content {
  width: 90vw;
  margin: 0 auto;
  color: #3C2A10;
  padding: 40px 0 20px;
  font-weight: normal;
}

@media (min-width: 641px) {
  .p-MainVisual-contents .visual-content {
    width: 80vw;
  }
}

@media (min-width: 769px) {
  .p-MainVisual-contents .visual-content {
    width: 70vw;
  }
}

.p-MainVisual-contents .visual-content h3 {
  font-size: 3.2rem;
  font-weight: normal;
  margin-bottom: 20px;
}

.p-MainVisual-contents .visual-content p {
  font-size: 1.4rem;
}

.p-Maincontents {
  height: 1320px;
  width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 50px 0;
}

@media (min-width: 641px) {
  .p-Maincontents {
    height: 660px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media (min-width: 769px) {
  .p-Maincontents {
    width: 80vw;
    height: 1100px;
  }
}

.p-Maincontents .takeOut {
  max-width: 100%;
  background-image: url(../img/takeOut.jpg);
  margin-bottom: 10px;
}

@media (min-width: 641px) {
  .p-Maincontents .takeOut {
    max-width: 45%;
  }
  .p-Maincontents .takeOut h2::after {
    display: block;
    content: "";
    width: 40px;
    border: 2px solid;
    margin-top: 10px;
  }
}

.p-Maincontents .eatIn {
  max-width: 100%;
  background-image: url(../img/eatin.jpg);
}

@media (min-width: 641px) {
  .p-Maincontents .eatIn {
    max-width: 45%;
  }
}

.p-Maincontents .eatIn h2::after {
  display: block;
  content: "";
  width: 40px;
  border: 2px solid;
  margin-top: 10px;
}

.p-accessMap {
  display: block;
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 641px) {
  .p-accessMap {
    height: 400px;
  }
}

.p-accessMap .gmap {
  width: 100%;
  height: 100%;
}

.p-accessMap .map-filter {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  height: 100%;
  opacity: .5;
  color: #fff;
  padding: 50px;
  font-weight: normal;
  height: 100%;
}

.p-accessMap .map-filter h3 {
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 20px;
}

.p-accessMap .map-filter h3::after {
  display: block;
  content: "";
  width: 50px;
  border: 1px solid;
  margin-top: 10px;
}

.p-accessMap .map-filter p {
  font-size: 1.2rem;
  line-height: 2;
}
/*# sourceMappingURL=style.css.map */