.footer_nav {
    display: block;
    width: 100%;
    height: 150px;
    background-color: $bg-footer;
    color: $text-white;
    font-weight: normal;
    text-align: center;
    padding: 40px 0 ;

    &.filter_open {
        display: none;
    }

    li {
        display: inline-block;
        font-size: 1.6rem;

        &:first-of-type {
            margin-right: 5px;

            &::after {
                content: "|";
                font-size: 2rem;
                margin-left: 8px;
            }
        }
    }
    p {
        margin-top: 30px;
        font-size: 1.4rem;
        font-weight: normal;
    }
}