.header-container {
    width: 100%;
    height: 200px;
    background-color: #FFF7EF;
    display: flex;
    justify-content: space-between;
    color: $text-gray;

    .header-title {
        width: 70%;
        align-self: center;
        margin-left: 20px;
    }
    .menu-btn {
        display: none;
    }
    .searchbox {
        width: 30%;
        height: 38px;
        display: inline-block;
        align-self: center;
        position: relative;

        .search_input{
            width: 70%;
            height: 100%;
            padding-left: 30px;
        }
        .search-btn {
            color: $text-gray;
            padding: 5px 10px;
        }
        .fa-search {
            position: absolute;
            top:12px;
            left: 8px;
        }
    }
}
