.p-accessMap {
    display: block;
    position: relative;
    height: 700px;
    width: 100%;
    overflow: hidden;

    @include breakpoint(tablet) {
        height: 400px;
    }

    .gmap {
        width: 100%;
        height: 100%;
    } 

    .map-filter {
        position: absolute;
        top:0;
        left: 0;
        background-color: $bg-black;
        height: 70%;
        opacity: .5;
        color: $text-white;
        padding: 25px 40px;
        font-weight: normal;

        @include breakpoint(tablet) {
            padding: 15px 20px;
            height: 100%;
        }

        @include breakpoint(pc) {
            width: 55vw;
        }

        h3 {
            font-size: 3em;
            font-weight: normal;
            margin-bottom: 10px;

            &::after {
                display: block;
                content: "";
                width: 50px;
                border: 1px solid;
            }
        }

        p {
            font-size: 1.4rem;
            line-height: 2;
        }
    }
}