.p-body-filter {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    &.filter_open {
        z-index: 1;
        background-color: $bg-gray;
        height: 3000px;
    }

    @include breakpoint(pc) {
        z-index: -1;
    }
}