//シングルページ用base
.single-h1 {
    font-size: 3.6rem;
    line-height: 3.6;
    
    @include breakpoint(tablet) {
        font-size: 6rem;
        line-height: 6 ;
    }
}

.single-h2 {
    font-size: 2.8rem;
    line-height: 2.8;

    @include breakpoint(tablet) {
        font-size: 3.6rem;
        line-height: 3.6;
    }
}
h3 {
    font-size: 2.4rem;
    line-height: 2.4;

    @include breakpoint(tablet) {
        font-size: 2.8rem;
        line-height: 2.8;
    }
}
h4, h5, h6 {
    font-size: 2rem;
    line-height: 2;
}

.single-p {
    font-size: 1.6rem;
    line-height: 1.3;
}

ol > li {
    list-style-type: decimal;
}

ol {
    margin: 0;
}