.c-item-box {
    width: 90vw;
    margin: 0 auto;
    background-color: $bg-brown;
    color: $text-white;
    font-weight: normal;
    display: flex;
    flex-flow: column wrap;
    /* min-height: 230px; */
    height: 580px;

    @include breakpoint(tablet) {
        display: flex;
        flex-flow: row wrap;
        height: 300px;
    }
    @include breakpoint(pc) {
        width: 70vw;
        height: 350px
    }

    .item-img {
        width: 100%;
        height: 100%;
        flex: 1;

        img {
            width: 100%;
            height: 290px;
        }

        @include breakpoint(tablet) {
            width: 60%;
            img {
                height: 100%;
            }
        }
        @include breakpoint(pc) {
            width: 50%;
        }
    }

    .item {
        padding: 20px 15px;
        font-weight: normal;
        flex: 1;
        display: flex;
        flex-flow: column wrap;
        height: 100%;

        @include breakpoint(tablet) {
            width: 50%;
            padding: 10px 10px;
        }
        @include breakpoint(pc) {
            padding: 10px 25px;
        }

        .item-title {
           font-size: 2rem; 
           font-weight: normal;
           margin-bottom: 15px;

            @include breakpoint(pc) {
                margin-bottom: 10px;
            }
        }

        .item-topic {
            font-size: 1.6rem ;
            font-weight: normal;
            margin-bottom: 10px;

            @include breakpoint(pc) {
                font-size: 1.8rem ;
                margin-bottom: 15px;
            }
        }

        p {
            width: 80%;
            font-size: 1.6rem;
            line-height: 1.6;
            margin-bottom: 10px;
            flex: 1;

            @include breakpoint(tablet) {
                width: 100%;
                margin-bottom: 30px;
            }
            
            @include breakpoint(pc) {
                font-size: 1.4rem; 
            }
        }

        .item-btn {
            display: block;
            background-color: $bg-white;
            width: 120px;
            border-radius: 15px;
            margin: 0 auto;
            color: $text-maincolor;
            text-align: center;
            padding: 10px 5px;
            justify-self: flex-end;

            @include breakpoint(tablet) {
                margin-bottom: 15px;
            }
            
            @include breakpoint(pc) {
                width: 180px;
                border-radius: 15px;
                padding: 10px;
                margin-bottom: 20px;
                font-size: 1.5rem;
            }
        }
    }
    &:not(:first-of-type) {
        margin-bottom: 20px;
    }
}